:host {

}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
}

#banner-container {
	overflow: hidden;
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header #avatar {
	position: absolute;
	left: 50px;
	bottom: 20px;
	z-index: 10;
	border-radius: 50%;
	width: 150px;
	border: 5px solid #fff;
}

#flex-container {
	display: flex;
	width: 100%;
	height: 60px;
	justify-content: space-between;
}

#navbar {
	display: flex;
	margin-left: 400px;
}

#navbar a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	height: 100%;
	font-weight: bold;
	color: #555;
	text-decoration: none;
}

#navbar a #title {
	font-weight: 600;
	font-size: .9em;
}

#navbar a #count {
	color: #2574AD;
	font-size: 1.1em;
}

#content {
	background: #e6ecf0;
	display: flex;
}

#content profile-card {
	flex: 1;
}

#content storyline {
	flex: 3;
}

.button-container {
	display: flex;
	align-items: center;

	height: 100%;
}

.button-container * {
	margin: 5px;
}